<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="nav-toggle">
    <label for="nav-toggle" class="navigation__button">
        <span class="navigation__icon" aria-label="toggle navigation menu"></span>
    </label>
    <div class="navigation__background"></div>

    <nav class="navigation__nav" role="navigation">
        <div class="container-fluid">
            <div class="row flex-nowrap navb">
                <div class="navigation__item col-md-4 bg1">
                    <div class="card card-block card-text navcard">
                        <a href="index.html" class="navigation__link">Услуги</a>
                    </div>
                </div>
                <div class="navigation__item  col-md-4 bg2">
                    <div class="card card-block card-text navcard">
                        <a href="contact.html" class="navigation__link">Товары</a>
                    </div>
                </div>
                <div class="navigation__item  col-md-4 bg3">
                    <div class="card card-block card-text navcard">
                        <a href="about.html" class="navigation__link">О нас</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>